@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
main{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
}
h1{
    background-color: red;
    width: 100px;
    border: red;
    padding: 100px;
    display: grid;
    grid-template-rows: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{
    background-color: red;
    width: 100px;
    border: red;
    padding: 100px;
    display: grid;
    grid-template-rows: 10px;
}
body{
    grid-template-columns: auto;
    display: grid;

}

footer{
    background-color:red
}
h3{
    font-size: 50px;;
}
#my-button{
    height: 50px;
}
#my-input{
    height: 50px;
    font-size: 50px;
}
#display{
    color: black;
}
